@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components{
    
.footer {
    @apply space-y-4 text-sm text-gray-800 ;
}

.button{
    @apply px-4 py-2 border rounded-full cursor-pointer
    hover:shadow-lg active:scale-95 active:bg-white
    transition duration-100 ease-out dark:text-[#F8F5F1] dark:bg-[#0F1123] dark:hover:bg-[#0A1931] ;
}
}

  
  ::-webkit-scrollbar {
    width: 0.4vw;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #FFFFFF !important;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(255,213,194);
    background: linear-gradient(90deg, rgba(255,213,194,1) 0%, rgba(105,9,121,1) 35%, rgba(255,213,194,1) 100%);
  }
  

  
  html {
    scroll-behavior: smooth;
  }